# Hamoye Data Science Internship Stage A

## Hamoye ID: 1889bc53ef01f000

### Importing required Libraries

In [2]:
import pandas as pd
import numpy as np

### Loading the dataset into jupyter notebook

In [4]:
food = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

### Understanding the Dataset

In [5]:
food.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [6]:
food.shape

(60943, 12)

In [8]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [9]:
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [10]:
#Q1
mean_2017 = food['Y2017'].mean()
std_2017 = food['Y2017'].std()

print("Mean for the year 2017: {:.2f}".format(mean_2017))
print("Standard Deviation for the year 2017: {:.2f}".format(std_2017))

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [11]:
#Q2
# Grouping the data by 'Element' and calculating the sum of 'Stock Variation' for each year
element_grouped = food.groupby('Element')['Y2017'].sum()

# Finding the year with the highest sum of Stock Variation
year_highest_stock_var = element_grouped[element_grouped.idxmax()]

print("The year with the highest sum of Stock Variation:", year_highest_stock_var)

The year with the highest sum of Stock Variation: 2088198.1

In [12]:
# Grouping the data by 'Element' and calculating the sum of 'Stock Variation' for each year
element_grouped = food.groupby('Element')['Y2017'].sum()

# Finding the year with the highest sum of Stock Variation
year_highest_stock_var = element_grouped.idxmax()

print("The year with the highest sum of Stock Variation:", year_highest_stock_var)

The year with the highest sum of Stock Variation: Domestic supply quantity

In [13]:
#Q3
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [14]:
#Q4
# Total missing values in the column 'Y2014'
missing_data_2014 = food['Y2014'].isnull().sum()
# Total rows in the dataset
total_rows = len(food)
# Percentage 
percentage_missing_2014 = (missing_data_2014 / total_rows) * 100
print("Total number of missing data in 2014:", missing_data_2014)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing_2014))#formatting the output to 3 decimal values

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [17]:
#Q5
# Selecting columns 'Y2017' and 'Area'
selected_data = food[['Y2017', 'Area']]
# Grouping the data by 'Area' and calculating the sum for 2017
area_grouped = selected_data.groupby('Area')['Y2017'].sum()
# Finding the area with the highest sum in 2017
area_highest_sum_2017 = area_grouped.idxmax()
print("The area with the highest sum in 2017:", area_highest_sum_2017)

The area with the highest sum in 2017: Nigeria

In [18]:
#Q6
total_unique_countries = food['Area'].nunique()

print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [19]:
#Q7
# Filter the data for Madagascar in the year 2015 and calculate the total Protein supply quantity
protein_supply_madagascar_2015 = food[(food['Area'] == 'Madagascar') & (food['Element'] == 'Food supply (kcal/capita/day)') & (food['Item'] == 'Protein')]['Y2015'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", protein_supply_madagascar_2015)

Total Protein supply quantity in Madagascar in 2015: 0.0

In [20]:
#Q8
# Calculate the correlation between 'Element Code' and each year
correlations = food.corr()['Element Code'].drop(['Element Code', 'Area Code'])

# Find the year with the least correlation
year_least_correlation = correlations.idxmin()

year_least_correlation

'Item Code'

In [21]:
correlations

Item Code   -0.024683
Y2014        0.024457
Y2015        0.023889
Y2016        0.023444
Y2017        0.024254
Y2018        0.024279
Name: Element Code, dtype: float64

In [22]:
#Q10
# Grouping the data by 'Element' and calculating the sum for the year 2017
element_grouped = food[food['Element'] == 'Processing'].groupby('Element')['Y2017'].sum().sum()

element_grouped

292836.0

In [40]:
#Q17
# Assuming 'food' is the DataFrame with the data
selected_data = food[['Y2017', 'Area']]  # Selecting columns 'Y2017' and 'Area'
# Perform a groupby operation on Area and calculate the sum of 'Y2017'
area_sums_2017 = selected_data.groupby('Area')['Y2017'].sum().reset_index()
# Sort the summed values in ascending order to find the 7th lowest sum
seventh_lowest_area = area_sums_2017.sort_values(by='Y2017').iloc[6]['Area']
# Print the area with the 7th lowest sum in 2017
print(f"The area with the 7th lowest sum in 2017 is: {seventh_lowest_area}")

The area with the 7th lowest sum in 2017 is: Guinea-Bissau

In [56]:
#Q18
# Filtering the dataset for rows containing the 'Item' as 'Wine'
wine_data = food[food['Item'] == 'Wine']
# Performing a groupby sum aggregation on 'Item' for the years 2015 and 2018
wine_sum_2015 = wine_data[wine_data['Y2015'].notnull()]['Y2015'].sum()
wine_sum_2018 = wine_data[wine_data['Y2018'].notnull()]['Y2018'].sum()
# Printing the total sum of Wine produced in 2015 and 2018 respectively
print(f"The total sum of Wine produced in 2015: {wine_sum_2015}")
print(f"The total sum of Wine produced in 2018: {wine_sum_2018}")

The total sum of Wine produced in 2015: 4251.8099999999995
The total sum of Wine produced in 2018: 4039.3199999999997

In [43]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age","Nationality","Overall"]

In [44]:
#Q20
df= pd.DataFrame(lst, columns=col, index=[i for i in range(1, 4)])

In [45]:
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92